@font-face {
  font-family: "iconfont"; /* Project id 3246246 */
  src: url('//at.alicdn.com/t/font_3246246_vxx5oekaz3o.woff2?t=1647260425261') format('woff2'),
       url('//at.alicdn.com/t/font_3246246_vxx5oekaz3o.woff?t=1647260425261') format('woff'),
       url('//at.alicdn.com/t/font_3246246_vxx5oekaz3o.ttf?t=1647260425261') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-gouwuchekong:before {
  content: "\e601";
}

.icon-31daishouhuo:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-gerenzhongxin:before {
  content: "\e643";
}

.icon-gerenzhongxin1:before {
  content: "\e619";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-tuihuanhuo:before {
  content: "\e715";
}

.icon-hot:before {
  content: "\e727";
}

.icon-daifukuan:before {
  content: "\e653";
}

.icon-24gl-bag2:before {
  content: "\e877";
}

.icon-24gf-bag2:before {
  content: "\e87f";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-fenlei1:before {
  content: "\e61a";
}